.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;  
    margin: 30px 0 50px 0;
}

.product__img {
    display: flex;
    justify-content: center;
}

.loader {
    left: calc(50% - 75px);
}

.product__price__item,
.product__price__currency {
    font-size: 18px;
}